.fun-container {
    display: flex;
    flex-direction: column;
    margin: 3%;
    font-size: 3vw;
}

.field {
    font-size: 2.5vh;
}

input {
    width: 100%;
    height: 4vw;
    margin: 2% 0%;
    padding: 0;
}

input[type=text] {
    font-size: 80%;
    width: 100%;
    padding: 10px;
}

button {
    height: 100%;
    width: auto;
    font-size: 100%;
}

.color-output {
    height: 100px;
    width: 100%;
    margin: auto;
}