.fun-container {
    display: flex;
    flex-direction: column;
    margin: 3%;
    font-size: 3vw;
}

.field {
    font-size: 100%;
}

input {
    height: 100%;
    margin-left: 2%;
    margin: 1%;
}

button {
    height: 5vh;
    width: auto;
    font-size: 80%;
}

.color-output {
    height: 100px;
    width: 100%;
    margin: auto;
}