/* landing page */
@media screen and (max-width: 768px) {

    .landing-page-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        margin: 2%;
    }

    .landing-img img {
        float: right;
        max-width: 55%;
        height: auto;
    }
}

.landing-page-container {
    display: flex;
    width: 100%;
}

.landing-img {
    min-width: 35%;

}

.landing-img img {
    width: 100%;
    height: auto;
}

.landing-saying {
    text-align: left;
    margin: 0 5%;
    display: flex;
    align-items: center;
}

.landing-saying h1 {
    text-align: center;
    color: var(--accentcolor);
}