.title-container {
    margin: 2% 5%;
    color: var(--accentcolor)
}

.content-container {
    margin: 0 5% 5% 5%;
    padding: 1%;
    display: grid;
    background-color: var(--primarycolor);
    /* color: var(--bgcolor); */
    box-shadow: 5px 5px var(--accentcolor);
}

.content-read-more {
    display: none;
}