.landing-page-container {
    display: flex;
}

.landing-page-saying {
    min-width: 35%;
    margin: auto 2% auto 0;
    font-size: x-large;
    vertical-align: center;
    color: var(--accentcolor);
}